PORT=
MONGODB_URI=
JWT_SECRET=
JWT_ACCESS_TOKEN_SECRET_ADMIN=
JWT_REFRESH_TOKEN_SECRET_ADMIN=
JWT_REFRESH_TOKEN_SECRET_ADMIN=
JWT_ACCESS_TOKEN_SECRET_ADMIN=
JWT_ACCESS_TOKEN_SECRET_CLIENT=
JWT_REFRESH_TOKEN_SECRET_CLIENT=
# địa chỉ server AI nhóm kia
AI_SERVER_URL=  
BI_DATABASE_URL=
SUPERSET_URL=http://localhost:8088
SUPERSET_USERNAME=admin
SUPERSET_PASSWORD=admin
SUPERSET_EMBED_ALLOWED_DOMAINS=http://localhost:5173,http://127.0.0.1:5173
SUPERSET_DASHBOARD_SYSTEM=bi-system
SUPERSET_DASHBOARD_CHATBOT=bi-chatbot
SUPERSET_DASHBOARD_SAFETY=bi-safety
SUPERSET_DASHBOARD_MODELS=bi-models
