PORT=

MONGODB_URI=

JWT_SECRET=

JWT_REFRESH_TOKEN_SECRET_ADMIN=
JWT_ACCESS_TOKEN_SECRET_ADMIN=

JWT_ACCESS_TOKEN_SECRET_CLIENT=
JWT_REFRESH_TOKEN_SECRET_CLIENT=

# Thay lại cái link AI server đã deploy
AI_SERVER_URL=

AI_API_KEY=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# ----------------------------
# Dành cho test local, chạy trên production thì không cần quan tâm (Vì đã đẩy hết cấu hình này sang VPS rồi)
BI_DATABASE_URL=

BI_POSTGRES_USER=
BI_POSTGRES_PASSWORD=
BI_POSTGRES_DB=
BI_SYNC_ENABLED=
BI_SYNC_INTERVAL_MS=
BI_SYNC_RUN_ON_START=

SUPERSET_URL=

SUPERSET_USERNAME=
SUPERSET_PASSWORD=
SUPERSET_SECRET_KEY=
SUPERSET_GUEST_TOKEN_JWT_SECRET=

SUPERSET_CORS_ORIGINS=
SUPERSET_EMBED_ALLOWED_DOMAINS=

SUPERSET_DATABASE_SQLALCHEMY_URI=

SUPERSET_DASHBOARD_SYSTEM=
SUPERSET_DASHBOARD_CHATBOT=
SUPERSET_DASHBOARD_SAFETY=
SUPERSET_DASHBOARD_MODELS=
